**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
.env
.venv
env/
venv/
ENV/
.git
.gitea
.gitignore
*.md
LICENSE
tests/
.pytest_cache/
.coverage
htmlcov/
**/*LOCAL.*
**/*instruction.md
**/*.DS_Store
**/*BORRAR*.*
