TORRENT_CLIENT=
TORRENT_CLIENT_HOST=
TORRENT_CLIENT_PORT=
TORRENT_CLIENT_USER=
TORRENT_CLIENT_PASSWORD=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
PAUSADO=1
NO_TRACKER=1
NOMBRE=1
RESUMEN=1
CRON=0 7 * * *
DEBUG=0
TZ=Europe/Madrid